Question 1:

In [ ]:
name = input("Enter your name")
print("Hello", name)

Enter your nameRachael
Hello Rachael

Question 2:

In [ ]:
#Prompt the user for the length of the square 
length = input("Enter the length of a square")
#Convert the length (str) into float because string cannot do math operation
#Assign it back to length
length = float(length)
#Let's check the type of float here
print(type(length))
#Calculate the area and store its value for later use
area = length * length 
print("Area of square is: {}".format(area))

Enter the length of a square5
<class 'float'>
Area of square is: 25.0

Question 3:

In [ ]:
#Prompt the user for their height and weight
weight = input ("Enter your weight")
height = input ("Enter your height")
#Conver the weight and height (str) into float because string cannot do math operation
#Assign it back to weight
#Assign it back to height
weight = float(weight)
height = float(height)
#Check the type of float
print(type(weight))
print(type(height))
#Calculate the BMI and store its value for later use
BMI = weight/(height * height)
print("BMI is: {}". format(BMI))

Enter your weight50
Enter your height1.55
<class 'float'>
<class 'float'>
BMI is: 20.811654526534856

In [ ]:
#Prompt the user for their weight
weight = input ("Enter your weight")
weight = float(weight) #convert string to float 
#Prompt the user for their height
height = input ("Enter your height")
height = float(height) #convert string to float
#Calculate the BMI based formula
BMI = weight/(height * height)
#show the BMI
#print("Yours BMI is ", BMI)
#print(" Your BMI is" + str(BMI))
print("BMI is: {:.2f}". format(BMI))

Question 4:

In [ ]:
#pad with 20 asterisks, centre-aligned 
print("***************************************************************")
print("Calculate the average of your last 6-months electricity bills")
print("***************************************************************")
#Prompt the user for the last 6-months electricity bills
Bill1 = input ("Enter Bill #1: ")
Bill2 = input ("Enter Bill #2: ")
Bill3 = input ("Enter Bill #3: ")
Bill4 = input ("Enter Bill #4: ")
Bill5 = input ("Enter Bill #5: ")
Bill6 = input ("Enter Bill #6: ")
#Assign it back to bills
Bill1 = float(Bill1)
Bill2 = float(Bill2)
Bill3 = float(Bill3)
Bill4 = float(Bill4)
Bill5 = float(Bill5)
Bill6 = float(Bill6)
#Tell the user the bills used per month
print("Your electricity bills for the past 6-months are: ${}, ${}, ${}, ${}, ${}, ${}". format(Bill1, Bill2, Bill3, Bill4, Bill5, Bill6))
#Calculate the average of the electricity bills
average = (Bill1 + Bill2 + Bill3 + Bill4 + Bill5 + Bill6)/6
print("The average of your electricity bills is: {}". format(average))

***************************************************************
Calculate the average of your last 6-months electricity bills
***************************************************************
Enter Bill #1: 156.79
Enter Bill #2: 138.67
Enter Bill #3: 120.34
Enter Bill #4: 179.33
Enter Bill #5: 162.1
Enter Bill #6: 142.89
Your electricity bills for the past 6-months are: $156.79, $138.67, $120.34, $179.33, $162.1, $142.89
The average of your electricity bills is: 150.02

Part 3 - Task 1: Timer

In [ ]:
#Prompt for amount of life to waste 
import time
time_to_wait = float(input("Enter the number of seconds to count down"))
#Wait for that duration
time.sleep(time_to_wait)
#Show that the wait has finished
print("Time is up!")

Enter the number of seconds to count down2.5
Time is up!

Part 3 - Task 3: Days before assignment is due

In [ ]:
from datetime import datetime
from dateutil import relativedelta
#1.	store the current date in a variable date_today
date_today = datetime.today()
#2.	Prompt the user with a message “Please enter the due date of the assignment” 
#3.	Store the user’s input in a variable named assignment_duedate
due_date = input("Please enter the due date of the assignment(dd-mm-yyyy)")
#convert the input to datetime object
due_date = datetime.strptime(due_date, "%d-%m-%Y")

#This will find the difference between the two dates
diff = relativedelta.relativedelta(due_date, date_today)
#4.	Calculate the number of months and days between date_today and assignment_duedate, and store the result in the variable number_of_months and number_of_days
#5.	Display the result to the user as shown in the diagram below
print("{} months, {} days till your assignment due".format(diff.months, diff.days))

Please enter the due date of the assignment(dd-mm-yyyy)01-12-2020
1 months, 2 days till your assignment due

Task 2: Strings

In [ ]:
#We need the random library(consist of many features (functions) we can use)
import random
#We use the randint feature in the random library
value_1 = random.randint(10,20)
random.
print("The random number is {}".formate(value_1))

Get Date and Time

In [ ]:
import datetime

date_1 = datetime.datetime.today()

type(date_1)

datetime.datetime

4. Working with python numeric types

In [ ]:
#1.	prompt the user to enter four numbers and store them in the variables n1,n2,n3 and n4
n1 = float(input("Enter n1:"))
n2 = float(input("Enter n2:"))
n3 = float(input("Enter n3:"))
n4 = float(input("Enter n4:"))
#2.	add up the four numbers and store the calculated value in the variable add
add = n1 + n2 + n3 + n4
#3.	subtract n4 from n1 and store the calculated value in the variable difference
difference = n4 - n1
#4.	multiply n2 by n3 and store the calculated value in the variable product
product = n2 * n3
#5.	divide the sum of n1 and n2 by the sum of n3 and n4, and store the calculated value in the variable quotient
quotient = (n1 + n2)/(n3 + n4)
#6.	find the remainder of the product of n1 and n2, divided by the product of n3 and n4 and store in the value remainder
remainder = (n1 * n2)%(n3 * n4)
#7.	calculate n1 to the power of n2 and store in the variable powerI
power = n1 ** n2
#8.	print out the outputs as shown in the diagram below
print("The 4 numbers are {},{},{},{}".format(n1,n2,n3,n4))
print("Sum is {}".format(add))
print("The difference is {}".format(difference))
print("The quotient is {}".format(quotient))
print("The remainder is {}".format(remainder))
print("The variable power is {}".format(power))

Enter n1:2
Enter n2:3
Enter n3:4
Enter n4:5
The 4 numbers are 2.0,3.0,4.0,5.0
Sum is 14.0
The difference is 3.0

Task 2: Mathematical functions in python

In [ ]:
import math
#1.	prompt the user to enter four numbers and store them in the variables n1,n2,n3 and n4
n1 = float(input("Enter n1:"))
n2 = float(input("Enter n2:"))
n3 = float(input("Enter n3:"))
n4 = float(input("Enter n4:"))
#2.	Perform the following operations on each variable as specified below.
#3.	Calculate the square root of n1 and store the value of the result to a variable n1_squareroot. Print out the ceiling value of n1_squareroot.
n1_squareroot = math.sqrt(n1)
print("The squareroot of {} is {}".format(n1,n1_squareroot))
print("The ceiling of {} is {}".format(n1, math.ceil(n1_squareroot)))
#4.	Multiply n2 by the mathematical value of pi and store the result to a variable n2_times_pi. . Print out the truncated value of n2_times_pi. 
n2_times_math.pi = n2 * math.pi
#5.	Calculate the value of n3 to the power of n1 and store the result to n3_powerof_n1. Print out the floor value of n3_powerof_n1.
n3_powerof_n1 = math.pow(n3,n1)
#6.	Compute the factorial of n4 and store the result to a variable n4_factorial.  Divide n4_factorial by n3  and store the result to n4n3.  Compute the fractional and integer parts of n4n3 and print out their values.
n4_factorial = math.factorial(n4)
n4n3 = n4_factorial/n3
fraction, integer = math.modf(n4n3)
print(fraction)
print(integer)

Enter n1:8
Enter n2:6
Enter n3:5
Enter n4:9

5. Working with python strings

Task 1: Perform basic mathematical calculations

In [ ]:
#Prompt user to write three string variables
s1 = input ("Enter String 1: ")
s2 = input ("Enter String 2: ")
s3 = input ("Enter String 3: ")
#Print out the lengths of all strings
s1_length = len(s1)
s2_length = len(s2)
s3_length = len(s3)
print("Length of String 1 = {}".format(s1_length))
print("Length of String 2 = {}".format(s2_length))
print("Length of String 3 = {}".format(s1_length))
#Print s1 in capital letters
print(s1.upper())
#Prompt user to write 3 string variable
if "a" in s2:
    print("The letter a is found in ", s2)
else:
    print("The letter a is not found in ", s2)
#Print first 2 letters of s3
print(s3[0] + s3[1])

Enter String 1: mary had a little lamb
Enter String 2: the best is yet to be
Enter String 3: this is the question
Length of String 1 = 23
Length of String 2 = 22
Length of String 3 = 23
MARY HAD A LITTLE LAMB
The letter a is not found in  the best is yet to be
th

In [ ]:
#Prompt user to write three string variables
s1 = input ("Enter String 1: ")
s2 = input ("Enter String 2: ")
s3 = input ("Enter String 3: ")
#Print out the lengths of all strings
s1_length = len(s1)
s2_length = len(s2)
s3_length = len(s3)
print("Length of String 1 = {}".format(s1_length))
print("Length of String 2 = {}".format(s2_length))
print("Length of String 3 = {}".format(s1_length))
#Print s1 in capital letters
print(s1.upper())
#Prompt user to write 3 string variable
index = s2.find('a')
if (index >= 0):
    print("The letter a is found in ", s2)
else:
    print("The letter a is not found in ", s2)
#Print first 2 letters of s3
print("The first 2 characters of s3 is {}".format(s3[0:2]))

Task 2: Submission Task

In [ ]:
#Prompt user to write three string variables of at least 8 letters long
txt = input ("Enter 3 random strings, separated by commas: ")
print()

#Separate the strings and store the separated strings into three variables, s1, s2 and s3
text = txt.split(", ")
s1 = txt.split(", ")
s2 = txt.split(", ")
s3 = txt.split(", ")
s1 = text[0]
s2 = text[1]
s3 = text[2]
#Calculate the length of each string
s1_length = len(s1)
s2_length = len(s2)
s3_length = len(s3)
#Print all requirements
print("s1 is {}" .format(s1))
print("The length of {} is {}".format(s1, s1_length))
print("The 2nd and 3rd character of {} is {}{}".format(s1,s1[1],s1[2]))
print()

print("s2 is {}" .format(s2))
print("The length of {} is {}".format(s2, s2_length))
print("The 5th to 7th character of {} is {}{}{}".format(s2,s2[4],s2[5],s2[6]))
print()

print("s3 is {}" .format(s3))
print("The length of {} is {}".format(s3, s3_length))
print("The 2nd and 3rd character of {} is {}{}".format(s3,s3[-2],s3[-1]))

Enter 3 random strings, separated by commas: When Breath becomes Air, The 91-Storey Treehouse, Harry Potter and the Prisoner of Azkaban

s1 is When Breath becomes Air
The length of When Breath becomes Air is 23
The 2nd and 3rd character of When Breath becomes Air is he

s2 is The 91-Storey Treehouse
The length of The 91-Storey Treehouse is 23
The 5th to 7th character of The 91-Storey Treehouse is 91-

s3 is Harry Potter and the Prisoner of Azkaban
The length of Harry Potter and the Prisoner of Azkaban is 40
The 2nd and 3rd character of Harry Potter and the Prisoner of Azkaban is an

6. If-else statements

Task 1 - Odd or Even

In [ ]:
# Ask the user for a number. 
n = input("Please enter a number")
# If the input is not numeric, 
if not n.isnumeric():
  # display an error message and
  print("Wrong! It is not a number! Bye!") 
  # exit the program. Hint: use the isnumeric() function.
if n.isnumeric():
# If the input is numeric, 
  if not (int(n) % 2 == 0):
  # check if the number is even or odd and 
    print("Odd")
  else:
    print("Even")
  # print out an appropriate message to the user.  Hint: Use the % modulus operator which gives the remainder when a number x is divided by another number y.

Please enter a number8
Even

In [ ]:
print("************************************")
print("Section 6: if-else statement")
print("************************************")

input_1 = int(input("Enter number 1:"))
input_2 = int(input("Enter number 2:"))

if input_1 == input_2:
  print("The two numbers are the same")
else:
  print("The two numbers are not the same")

************************************
Section 6: if-else statement
************************************
Enter number 1:2
Enter number 2: 20
The two numbers are not the same

In [ ]:
print("************************************")
print("Section 6: if-else statement")
print("************************************")

input_1 = input("Enter number 1:")
input_2 = input("Enter number 2:")

if input_1.isnumeric() and input_2.isnumeric():
  num_1 = int(input_1)
  num_2 = int(input_2)
  sum = num_1 + num_2
  print("The sum of {} and {} is {}".format(num_1,num_2,sum))
else:
  print("Please enter numeric values only")

************************************
Section 6: if-else statement
************************************
Enter number 1:25
Enter number 2:abcd
Please enter numeric values only

In [ ]:
print("Below is our drinks menu")
print("1.Coke 2.Coffee 3.Juice")
drink = int(input("Enter your choice of drink:"))

if drink==1:
  print("Coke is $1.00")
elif drink==2:
  print("Coffee is $0.50")
elif drink==3:
  print("Juice is $2.00")
else:
  print("Sorry, you have entered an invalid choice")

Below is our drinks menu
1.Coke 2.Coffee 3.Juice
Enter your choice of drink:3
Juice is $2.00

In [ ]:
number = input("Enter your choice (1-2):")
staff = input("Are you a staff (Y/N)?")

if number=="1":
  if staff.upper() == "Y":
    price =5*0.9
  else:
    price = 5*0.95
elif number=="2":
    if staff.upper() == "Y":
      price = 10*0.8
    else:
      price = 10
else:
      price("You did not enter a valid input")
      exit()
print("Price is ${}".format(price))

Enter your choice (1-2):1
Are you a staff (Y/N)?y
Price is $4.5

In [ ]:
print("************************************")
print("Section 6: if-else statement")
print("************************************")

input_1 = str(input("Enter a number:"))
if input_1.isnumeric():
  num = int(input_1)
  if (num%2) == 0:
    print("{} is even".format(num))
  else:
    print("{} is odd".format(num))
else:
  print("You did not enter a number")

************************************
Section 6: if-else statement
************************************
Enter a number:avc
You did not enter a number

6. Task 3

In [ ]:
print("Welcome to Spondals!")
print("Below is our Breakfast menu:")
print("1.SPMuffin ($5.00)  2.SPancakes ($3.00)  3.SPHashbrown ($1.50)")
choice = int(input("Enter your choice of food: "))


if choice==1:
  print("SPMuffin $5.00 added!")
  num_spmuffin = int(input("How many SPMuffins do you want to order?: "))
  totalcost = num_spmuffin*5
  print("The total cost for {} SPMuffins is ${}".format(num_spmuffin,totalcost))

elif choice==2:
  print("SPancakes $3.00 added!")
  num_spancakes = int(input("How many SPancakes do you want to order?: "))
  totalcost = num_spancakes*3
  print("The total cost for {} SPancakes is ${}".format(num_spancakes,totalcost))

elif choice==3:
  print("SPHashbrown $1.50 added!")
  num_sphashbrown = int(input("How many SPHashbrown do you want to order?: "))
  totalcost = num_sphashbrown*1.5
  print("The total cost for {} SPHashbrown is ${}".format(num_sphashbrown,totalcost))

else:
  print("Sorry, you have entered an invalid choice")
  print("Unable to continue. Exiting the program....")
  exit()

Welcome to Spondals!
Below is our Breakfast menu:
1.SPMuffin ($5.00)  2.SPancakes ($3.00)  3.SPHashbrown ($1.50)
Enter your choice of food: 2
SPancakes $3.00 added!
How many SPancakes do you want to order?: 50
The total cost for 50 SPancakes is $150

7. For loop

In [ ]:
Task 1: Repeat a user-specified message

In [ ]:
#ask the user for a message 
str = input("Please enter a message")
#the number of times they want it displayed 
n = input("Please enter the number of times to repeat")
#then ouput the no of time to repeat
for i in range(0,int(n),1):
  print(str)

Please enter a messagehello girl
Please enter the number of times to repeat5
hello girl
hello girl
hello girl
hello girl
hello girl

In [ ]:
for counter in range(0,5):
  print("hello world")

hello world
hello world
hello world
hello world
hello world

In [ ]:
counter = 0
while counter < 5:
  print("hello world")
  counter += 1

hello world
hello world
hello world
hello world
hello world

In [ ]:
message = input("Enter the message you want to repeat:")
times = int(input("Enter the number of times you want to repeat this message:"))

for counter in range(0, times):
  print(message)

Enter the message you want to repeat:oioi
Enter the number of times you want to repeat this message:10
oioi
oioi
oioi
oioi
oioi
oioi
oioi
oioi
oioi
oioi

7. Task 4

In [ ]:
print("This program prints the sum of a range of numbers from x to y")
print("For example, if x is 10 and y is 50, the program will print the sum of numbers from 10 to 50")

valuex_str = input("Please enter the value of x:")
valuey_str = input("Please enter the value of y:")

if valuex_str.isnumeric() and valuey_str.isnumeric():
  valuex = int(valuex_str)
  valuey = int(valuey_str)
  if valuex > 0 and valuey > 0:
    sum_of_numbers = 0
    if valuey > valuex:
      x = valuex
      for x in range(valuex, valuey+1):
        sum_of_numbers += x
      print("The sum of numbers between {} and {} is {}".format(valuex, valuey, sum_of_numbers))
    else:
      print("You did not enter a value of y that is greater than x")
      print("Unable to continue. Program terminated")
  else:
    print("One or more of your inputs are not greater than zero")
    print("Unable to continue. Program terminated")
else: 
  print("One or more of your inputs are not numeric!")
  print("Unable to continue. Program terminated")

This program prints the sum of a range of numbers from x to y
For example, if x is 10 and y is 50, the program will print the sum of numbers from 10 to 50
Please enter the value of x:50
Please enter the value of y:100
The sum of numbers between 50 and 100 is 3825

8. While loop

Task 1: Countdown timer

In [ ]:
#prompt the user to enter the number of seconds he wishes to count down
n = int(input("Please enter the no. of seconds to count down"))
#indicate how long there is to go before time runs out
#I
count = n
#C
while(count>0):
#U
  print(count)
  count -= 1
#when time runs out it should idsplay "time is up!"
print("Time is up!")

Please enter the no. of seconds to count down5
5
4
3
2
1
Time is up!

Task 2: High low number game

In [ ]:
import random
# •	Ask the user to select the lower limit and the upper limit that the random number should be generated within
low = input("Enter lower limit :")
high = input("Enter upper limit :")
# •	After obtaining the lower and upper limits, generate a random number between 
#   that range, and store it in a variable named secret_number
r = random.randint(int(low),int(high))
# •	Write a loop that repeatedly performs the following actions until
# the user guesses the random number correctly
guess = 0
while not guess == r:
  # a.	Prompt the user to guess the value of the number
  guess = int(input("Guess a number between " + low + " and " + high + " : "))
  # b.	If his guess is higher than the actual random number, print “Too high”
  if guess > r:
    print("Too high")
  # c.	If his guess is lower than the actual random number, print “Too low”
  if guess < r:
    print("Too low")
  # d.	If his guess is equal to the random number, print “You are right!” and exit the loop
  if guess == r:
    print("You are right")

Enter lower limit :1
Enter upper limit :5
Guess a number between 1 and 5 : 3
You are right

9. Python Lists

Task 1: Lists (Elements less than 5)

In [ ]:
number = [] #create an empty list object
#prompts the user to enter a list of 10 numbers
for i in range(1,10):
  n = input("Enter a number {}: ".format(i))
  number[i] = int(i)
#prints out the maximum and minimum values that were entered 
print(number)
#print out the list in sorted reverse order (highest numbers first)

In [ ]:
# Given:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print ("Given : ",a)
# prints out all the elements of the list that are less than 5.
print("Items < 5")
for n in a:
  if n < 5:
    print(n)

Given :  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Items < 5
1
1
2
3

Task 2: Lists (max, min, sorted, reverse)

In [ ]:
number = [] # define a 2list object
# prompts the user to enter a list of 10 numbers
for i in range(1,11):
  n = input("enter a number {} : ".format(i))
  number.append(int(n))
# prints out the maximum and minimum values that were entered.
print("Max: {}".format(max(number)))
print("Min: {}".2format(min(number)))
# print out the list in sorted reverse order (highest numbers first)
number.sort()
number.reverse()
print("Sorted in reverse :", number)

Task 3: List Slicing

In [ ]:
list_1 = [300,50,80,90,199,800,74,33]
list_2 = ['Apple','Banana','Durian','Grapes','Papaya','Watermelon']
list_3 = [0.0, 1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8,9.9]

(a)	The numbers 800, 74 and 33 in list_1
(b)	The last two elements in list_2
(c)	All the elements in list_3 except the first and the last

In [ ]:
list_1 = [300,50,80,90,199,800,74,33]
list_2 = ['Apple','Banana','Durian','Grapes','Papaya','Watermelon']
list_3 = [0.0, 1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8,9.9]

# (a)	The numbers 800, 74 and 33 in list_1
print(list_1[5:8])
# (b)	The last two elements in list_2
print(list_2[-2:])
# (c)	All the elements in list_3 except the first and the last
print(list_3[1:-1])

[800, 74, 33]
['Papaya', 'Watermelon']
[1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8]

Task 4: BMI

In [ ]:
list_students1 = ['Ann', 'Brandon', 'Christine', 'Daniel', 'Eileen', 'Francis', 'Gloria', 'Henry', 'Irene', 'John']
list_weights1 = [45, 90, 52, 75, 48, 65, 60, 85, 49, 100]  
list_heights1 = [1.54, 1.85, 1.66, 1.75, 1.58, 1.71, 1.68, 1.78, 1.62, 1.88]

#1)	use a for loop to prompt the user to enter the names, weights and heights of 5 more students, storing the inputs into the list_students2, list_weights2 and list_heights2 variables respectively

list_students2 = []
list_heights2 = []
list_weights2 = []

for i in range(1,6):
  name = input("Enter name for studnet {} :".format(i))
  weight = float(input("Enter weight for studnet {} :".format(i)))
  height = float(input("Enter height for studnet {} :".format(i)))

  list_student2.append(name)
  list_heights2.append(height)
  list_weights2.append(weight)
#2)	combine list_students1 and list_students2 into a single list named list_students_all
list_students_all = list_students1 + list_students2
#3)	combine list_weights1 and list_weights2 into a single list named list_weights_all
list_weights_all = list_weights1 + list_weight2
#4)	combine list_heights1 and list_heights2 into a single list named list_heights_all
list_heights_all = list_height1 + list_height2
#5)	use a for loop to calculate the BMIs of the 15 students, and store them in a list variable named list_bmis_all. (BMI is obtained by weight/height2)
list_bmis_all = []
for i in range(lens(list_students_all)):
  bmi = list_weight_all[i]/(list_heights_all[i]**2)
  list_bmis_all.append(bmi)
#6)	print out the student with the highest BMI and lowest BMI as shown
print("MAX: {}".format(max(list_bmis)))
print("MIN: {}".format(min(list_bmis)))

10. Python Function

Task 1: Scissors Paper Stone

In [ ]:
#Scissor Paper Stone
def compare(s1, s2):
  if s1 == s2:
    return "It's a tie!!", False
  elif s1 == 'scissors' and s2 == 'paper':
    return 'Scissors wins!!', False
  elif s1 == 'scissors' and s2 == 'stone':
    return 'Scissors wins!!', False
  elif s1 == 'paper' and s2 == 'scissors':
    return 'Scissors wins!!', False
  elif s1 == 'paper' and s2 == 'stone':
    return 'Paper wins!!', False
  elif s1 == 'stone' and s2 == 'paper':
    return 'Paper wins!!', False
  elif s1 == 'stone' and s2 == 'scissors':
    return 'Stone wins!!', False
  elif s1 == 'quit' and s2 == 'quit':
    return 'Quit!', True
  elif s1 == 'scissors' and s2 == 'paper':
    return 'Scissors wins!!', False

In [ ]:
compare('scissors', 'paper')

Task 2

In [ ]:
import random
original_list = [random.randint(1,1000) for x in range(0,100)]
odd_numbers = []
even_numbers = []

def oddandeven(numbers_list):
  for i in numbers_list:
    if (i % 2 == 0):
      even_numbers.append(i)
    else:
      odd_numbers.append(i)

# Run function 
oddandeven(original_list)

print("Original List: {}".format(original_list))
print()
print("Odd: {}".format(odd_numbers))
print()
print("Even: {}".format(even_numbers))
print()

Original List: [922, 15, 930, 517, 775, 703, 129, 758, 472, 592, 725, 628, 910, 683, 653, 701, 318, 776, 291, 120, 57, 441, 484, 565, 612, 367, 289, 561, 682, 317, 427, 853, 150, 996, 188, 802, 818, 371, 393, 715, 454, 291, 196, 379, 974, 953, 864, 333, 422, 866, 43, 699, 848, 807, 522, 970, 170, 811, 682, 233, 941, 997, 745, 591, 645, 353, 843, 746, 53, 169, 830, 838, 103, 612, 160, 395, 463, 125, 433, 78, 957, 97, 723, 942, 711, 859, 744, 468, 670, 454, 452, 536, 581, 964, 116, 547, 218, 705, 881, 931]

Odd: [15, 517, 775, 703, 129, 725, 683, 653, 701, 291, 57, 441, 565, 367, 289, 561, 317, 427, 853, 371, 393, 715, 291, 379, 953, 333, 43, 699, 807, 811, 233, 941, 997, 745, 591, 645, 353, 843, 53, 169, 103, 395, 463, 125, 433, 957, 97, 723, 711, 859, 581, 547, 705, 881, 931]

Even: [922, 930, 758, 472, 592, 628, 910, 318, 776, 120, 484, 612, 682, 150, 996, 188, 802, 818, 454, 196, 974, 864, 422, 866, 848, 522, 970, 170, 682, 746, 830, 838, 612, 160, 78, 942, 744, 468, 670, 454, 452, 536, 964, 116, 218]

Lesson 3: Reading files

In [ ]:
f = open('d:/notes.txt','r')
contents = f.read() #read entire file
print(contents)
f.close()


f = open('d:/notes.txt','r')
firstline = f.readline() #read first line only 
print(firstline)
f.clost()

from datetime import datetiime
f= open('d:/notes.txt','a')
f.write(str(datetime.now()))
f.close

f = open('dL/notes,txt', 'w')
f.write('This is a test\n')
f.close()

In [ ]:
filename = "data/file1.txt"

with open(filename) as f:
  lines = f.readlines()

lines_list = [line.strip() for line in lines]
lines_list_new = []

f = open("data/file2.txt", 'w')

for i in range(0,len(lines_list),3):
  line = lines[i]
  f.write("{}".formate(line))

f.close()

In [ ]:
try:
  f = open('myfile.txt')
  s = f.readline()
  i = int(s.strip())
except OSError as err:
  print("OS error: {0}").format(err)
except ValueError:
  print("Could not convert data to an integer")
except:
  print("Unexpected error:",sys.exec_info()[0])

In [ ]:
#Scissor Paper Stone
def compare(s1, s2):
  if s1 == s2:
    return "It's a tie!!", False
  elif s1 == 'scissors' and s2 == 'paper':
    return 'Scissors wins!!', False
  elif s1 == 'scissors' and s2 == 'stone':
    return 'Scissors wins!!', False
  elif s1 == 'paper' and s2 == 'scissors':
    return 'Scissors wins!!', False
  elif s1 == 'paper' and s2 == 'stone':
    return 'Paper wins!!', False
  elif s1 == 'stone' and s2 == 'paper':
    return 'Paper wins!!', False
  elif s1 == 'stone' and s2 == 'scissors':
    return 'Stone wins!!', False
  elif s1 == 'quit' or s2 == 'quit':
    return 'Quit!', True
  else:
    return 'Invalid Input!, Try again', False

In [ ]:
compare('scissors','paper')

('Scissors wins!!', False)

In [ ]:
#SPS Game
#Prompt player 1 for name
player1 = input("Please enter your name")
#Prompt player 2 for name
player2 = input("Please enter your name")

quit = False #I
while not quit: #C33
  #Prompt player 1 for input
  p1_input = input("{},enter your input".format(player1))
  #Prompt player 2 for input 
  p2_input = input("{},enter your input".format(player2))
  #Compare the inputs
  results, quit = compare(p1_input, p2_input) #U
  #Show the results
  print(results)

Please enter your nameA
Please enter your nameB
A,enter your inputquit
B,enter your inputpaper
Invalid Input!, Try again

Reading a file

In [ ]:
#Prompt for the file path
fn = input("Enter the file path:")
#Open the file for reading 
f = open(fn, 'r')
#Keep tag of number of values 
#Keep tag if the sum of values 
sum = 0

#Get every single line from the file and add to no_of_value 
for 1 in f:
  no_of_value +=1
  sum += int(1) 

#display the tags 
print("{} contains {} values".format(fn,no_of_value))
print("Sum of values is {}".format(sum))

#close the file
f.close()

Task 2: Read data from data.gov.sg

In [ ]:
fn = '/content/drive/My Drive/Datasets/public-transport-journeys.csv'
#open the file for reading
f = open(fn,'r')
#keep tag of rows,year,journeys,avg
rows= 0
years = []
journeys = []
avg = []

#Get every single line from the file and add to no_of_value
for l in f:
  rows += 1
  if rows != 1:
    #Extract values in each line
    values = l.split(',')
    years.append(values[0])
    journeys.append(int(values[1]))
    avg.append(float(values[2].rstrip("\n")))
print(journeys)

#Show result
print("{} contain {} rows".format(fn,rows))
m = max(journeys)
i = journeys.index(m)
print("Year {} has max journey of {}".format(years[i],m))